body{
	color: #fff;
	background-color: #888888;
	padding: 0;
	margin: 0;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #c1c1c1;
	stroke-opacity: .6;
}

#wordGraph{
	position: absolute;
	top:0;
	left:0;
}

/*GLOBALDATA*/
#globalData{
	position: absolute;
	bottom: 20px;
}

/*NODEDATA*/
#nodeData{
	width: 250px;
	position: absolute;
	top: 20px;
	right: 20px;
}

#nodeData h1{
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
}

/* NOTIFICATIONS */

aside#notifications{
	position: fixed;
	left:0; 
	top: 0;
	width:100%;
	z-index:1000;
	overflow:hidden;
	display:none;
	transition: .3s ease;
	-o-transition: .3s ease;
	-moz-transition: .3s ease;
	-webkit-transition: .3s ease;
}

p.notification{
	text-align: center;
	padding:25px;
	margin:0 auto;
	width: 100%;
	color: #fff;
	font-size: 1em;
	background: #666;
	user-select: none;
	
	transition: .65s cubic-bezier(.2,.1,.1,1);
	-o-transition: .65s cubic-bezier(.2,.1,.1,1);
	-moz-transition: .65s cubic-bezier(.2,.1,.1,1);
	-webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
	
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

p.notification.success{
	background: #27ae60;
}

p.notification.error{
	background: #D72828;
}

p.notification.show{ 
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
}

/* Menu de navigation latéral gauche : Recherche de mot, ajout de mot, filtes */
#lateral-navigation {
	width: 70px;
	z-index: 10;
	position: relative;
	-ms-transform: translateY(50%);
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}
.widthauto { /* Pour le #lateral-navigation seulement au click */
	width: auto !important;
}
.left-nav {
	width: 70px;
	height: 70px;
	margin-bottom: 2px;
	background: #E0E0E0;
}
.left-nav:hover {
	background: #fff;
	cursor: pointer;
}
.hidden-option {
	display: none;
}
.modalApparition {
	display: block;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 70px;
	right: 0;
	height: 214px;
	background-color: #fff;
	color: #000;
	opacity: 0.9;
}
.flaticons {
	height: 70px;
	line-height: 70px;
}
.flaticon-cross97 {
	float: right;
	padding: 15px 20px;
}
.flaticon-cross97:hover {
	cursor: pointer;
}
.optionsForm {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#searchWordForm {
	height: 214px;
	margin-left: 82px;
}
.optionsInputText {
	display: inline-block;
	padding: 15px 50px;
	border: none;
	border-left: 1px solid #434343;
	font-family: 'Open Sans', sans-serif;
	color: #434343;
}
#searchInput {
	height: 60px;
	width: 434px;
	font-size: 48px;
}
#proposedWord { /* (paragraphe) Phrase contenant le mot proposé */
	margin: 10px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	color: #434343;
}
#proposedWordText { /* Span contenant uniquement le mot proposé */
	color: #3277df; /* bleu primaire */
}
#writehWordForm { /* Pour gommer les 82px de droite que prend le bouton close */
	margin-left: 82px;
}
#addContribution { /* Input text pour ajouter un mot */
	margin: 10px 0;
	padding: 8px 30px;
	width: 490px;
	height: 50px;
	font-size: 28px;
}
.filter-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	margin-left: 82px;
}
.filters {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 350px;
	margin: 0 10px; 
}
.filters p {
	margin: 20px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
}
.filters .resetFilters {
	margin: 20px 0;
	padding: 0;
	border: 0;
	background: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
}
.filterbuttons {
	margin: 5px;
	padding: 0;
	border: 0;
	background: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #888888;
}
.filterbuttons:hover, .filterbuttons:active, .filterbuttons:focus {
	cursor: pointer;
	color: #3277df;
}

input::-webkit-input-placeholder {
	font-style: italic;
}
input:-moz-placeholder { /* Firefox 18- */
	color: #434343;
	font-style: italic;
}
input::-moz-placeholder {  /* Firefox 19+ */
	color: #434343;
	font-style: italic;
}
input:-ms-input-placeholder {  
	color: #434343;
	font-style: italic;
}