body{
	color: #fff;
	background-color: #888888;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #c1c1c1;
	stroke-opacity: .6;
}

#wordGraph{
	position: absolute;
	top:0;
	left:0;
}

/*GLOBALDATA*/
#globalData{
	text-transform: uppercase;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

#globalData p{
	font-family: 'Fjalla One';
	font-size: .9rem;
	padding: 5px 5px 5px 0;
	margin:5px;
	border: 1px solid #3177df;
	color: #3177df;
}

#globalData .global i{
	font-size: 1.1rem;
	padding: 4px;
	border-right: 1px solid #3177df;
	color: #3177df;
}

#globalData .global span{
	margin-left: 5px;
}

#globalData .global span.dataType{
	margin-top: 4px;
	float: right;
}

/*NODEDATA*/
#nodeData{
	font-family: 'Fjalla One';
	position: absolute;
	width: 350px;
	height: 100%;
	top: 0;
	right: -350px;
	display: none;
	background: #eeeeee;
}

#nodeData header{
	text-transform: uppercase;
	background: #3177df;
	width: 100%;
	max-height: 300px;
	overflow: hidden;
}

#nodeData header h1.theme{
	margin: 30px 30px 0 30px;
	height: 75px;
	border-bottom: 1px solid #194e9f;
	color: #194e9f;
	font-size: 2rem;
	text-align: center;
}

#nodeData header .nodeName{
	color: #fff;
}

#nodeData header .contribution{
	font-size: 1.2rem;
	margin: 20px 30px;
	color: #194e9f;
}

#nodeData header .contribution input{
	font-family: 'Open Sans';
	font-size: 2rem;
	padding: 5px;
	margin-top: 5px;
	background: transparent;
	border: none;
}

#nodeData header .contribution input:focus{
	outline: none;
}

#nodeData div.stats{
	padding: 20px;
	overflow: auto;
}

#nodeData div.stats div.statSection{
	margin-bottom: 15px;
}

#nodeData div.stats h1.statTitle{
	text-transform: uppercase;
	margin: 10px 0 10px 0;
	color:#4b4b4b;
	font-size: 1.1rem;
}

#nodeData div.stats h1.statTitle i{
	color: #b8b8b8;
	font-size: 1.6rem;
}

#nodeData div.stats .stat{
	margin-left: 45px;
	margin-bottom: 5px;
	display: inline-block;
	min-width: 175px;
	color: #989898;
	font-family: 'Open Sans';
}

#nodeData div.stats .stat.fat{
	font-size: 3rem;
	font-family: 'Fjalla One';
	text-shadow: 2px 1px 0px rgba(100, 100, 100, 1);
}

#nodeData div.stats .data{
	font-size: 1.1rem;
	font-family: 'Fjalla One';
	color:#3177df;
}

#nodeData div.stats span.right{
	float: right;
}

/* NOTIFICATIONS */

aside#notifications{
	position: fixed;
	left:0; 
	top: 0;
	width:100%;
	z-index:1000;
	overflow:hidden;
	display:none;
	transition: .3s ease;
	-o-transition: .3s ease;
	-moz-transition: .3s ease;
	-webkit-transition: .3s ease;
}

p.notification{
	text-align: center;
	padding:25px;
	margin:0 auto;
	width: 100%;
	color: #fff;
	font-size: 1em;
	background: #666;
	user-select: none;
	
	transition: .65s cubic-bezier(.2,.1,.1,1);
	-o-transition: .65s cubic-bezier(.2,.1,.1,1);
	-moz-transition: .65s cubic-bezier(.2,.1,.1,1);
	-webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
	
	transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

p.notification.success{
	background: #27ae60;
}

p.notification.error{
	background: #D72828;
}

p.notification.show{ 
	transform: translateY(0%);
	-o-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
}

/* Menu de navigation latéral gauche : Recherche de mot, ajout de mot, filtes */
.contribution, .filters, #lateral-navigation{
	z-index: 10;
	position: relative;
}
#lateral-navigation {
	width: 70px;
}
.widthauto { /* Pour le #lateral-navigation seulement au click */
	width: auto !important;
}
.left-nav {
	width: 70px;
	height: 70px;
	margin-bottom: 2px;
	background: #E0E0E0;
}
.left-nav:hover {
	background: #fff;
	cursor: pointer;
}
.hidden-option {
	display: none;
}
.modalApparition {
	display: block;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 70px;
	right: 0;
	height: 214px;
	background-color: #fff;
	color: #000;
	opacity: 0.95;
}
.flaticons {
	height: 70px;
	line-height: 70px;
}
.closeMenu {
	float: right;
}
#searchWordForm {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 214px;
}
#searchInput {
	display: inline-block;
	height: 60px;
	padding: 15px 50px;
	border: none;
	border-left: 1px solid #434343;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	color: #434343;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder { /* Firefox 18- */
	color: #434343;
}
input::-moz-placeholder {  /* Firefox 19+ */
	color: #434343;
}
input:-ms-input-placeholder {  
	color: #434343;
}